<!-- Keeping "graded" state in the DOM is bad, yet here we are. -->
<div class="card mb-4 readme-block" id="README">
   <div class="card-header bg-info text-white d-flex align-items-center" data-toggle="collapse" data-target="#README-body">
     <div class="mr-auto">
       <div>
         <span class="mr-2">
           Question Information
         </span>
         <span></span>
       </div>
       <small></small>
     </div>
     <button type="button show" class="expand-icon-container btn btn-outline-light btn-sm">
       <i class="fa fa-angle-up fa-fw ml-1 expand-icon"></i>
     </button>
   </div>
 
   <div class="collapse>" id="README-body">
    <div class="card-body README-body" >

     </div>
   </div>
 
 </div>
 
 